---
import { colorsBase } from '@buscacode/tailwind-plugins'
---

<div>
  {
    Object.entries(colorsBase).map(([key, value]) => (
      <div class="flex items-center justify-between">
        <div>{key}</div>
        <div class="flex items-center justify-center">
          <span class="flex border">
            {value instanceof Object ? (
              Object.entries(value)
                .sort(([a], [b]) => {
                  if (a === 'DEFAULT') return -1
                  if (b === 'DEFAULT') return 1
                  return 0
                })
                .map(([key2, value2]) => (
                  <span
                    class="box-border h-8 w-8"
                    style={{ background: value2 }}
                    title={key2}
                  />
                ))
            ) : (
              <div class="size-8 w-96" style={{ background: value }} />
            )}
          </span>
        </div>
      </div>
    ))
  }
</div>
